<div class="container">
  <div class="row">
    <div class="col-4">
      <mat-list>
        
        
        
        

        
        <mat-list-item>
          <button mat-button (click)="func0()">
            Click me I am a button
          </button>
        </mat-list-item>
        

        <mat-divider></mat-divider>
        
        
        
        
        

        

        <mat-divider></mat-divider>
        
        <mat-list-item>
          <mat-form-field appearance="fill">
            <mat-label>I am a select box</mat-label>
            <mat-select (selectionChange)="func1($event)">
              <mat-option *ngFor="let option of ['A','B','C']" [value]="option"> {{ option }} </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>
        
        
      </mat-list>
    </div>
    <div class="col-8">
      
      
        <h1>I am a bar chart</h1>
     
    </div>
  </div>
</div>
