<% for ( m of metadata.split(";")) { %>

    <% const widget = m.split("-")[0] %>
    <% const domEvent = m.split("-")[2] %>
    <% const func = m.split("-")[3] %>

    <% if (widget === 'MatButton') { %>
      <button <%= dasherize(widget)%> (<%=domEvent%>)="<%=func%>">
        Click me I am a button
      </button>
    <% } %>

    <% if (widget === 'MatSelect') { %>
        <<%= dasherize(widget)%> (<%=domEvent%>)="<%=func%>($event)">
            <mat-option *ngFor="let option of ['A','B','C']" [value]="option"> {{ option }} </mat-option>
        </<%= dasherize(widget)%>>
    <% } %>

<% } %>
