<div class="container">
  <div class="row">
    <div class="col-4">

        <% const value = metadata.split(";") %>
        <% for ( let i = 0; i < value.length; i++) { %>
        <% const widget = value[i].split("-")[0] %>
        <% const domEvent = value[i].split("-")[2] %>
        <% const func = value[i].split("-")[3] %>
        <% const label = value[i].split("-")[4].split("%").join(" ") %>
        <% if (widget === 'MatButton') { %>
          <mat-list>
            <mat-list-item>
              <button mat-flat-button color="primary" (<%=domEvent%>)="<%=func%>">
                <%=label%>
              </button>
            </mat-list-item>
          </mat-list>
        <% } %>
        <% if (widget === 'MatSelect') { %>
          <% const formatedOptions =value[i].split("-")[5].split("%").map(val => `'${val}'`)%>
          <mat-list>
            <mat-list-item>
              <mat-form-field appearance="fill">
                <mat-label><%=label%></mat-label>
                <<%= dasherize(widget)%> (<%=domEvent%>)="<%=func%>">
                  <mat-option *ngFor="let option of [<%=formatedOptions%>]" [value]="option"> {{ option }}
                  </mat-option>
                </<%= dasherize(widget)%>>
              </mat-form-field>
            </mat-list-item>
          </mat-list>
        <% } %>
        <% if (widget === 'MatSlider') { %>
          <mat-list>
            <mat-list-item>
              <mat-label><%=label%></mat-label>
              <mat-slider (<%=domEvent%>)="<%=func%>" [max]="<%=getSliderOptions(slideroptions)[1]%>" [min]="<%=getSliderOptions(slideroptions)[0]%>"
                [step]="<%=getSliderOptions(slideroptions)[2]%>">
              </mat-slider>
            </mat-list-item>
          </mat-list>
        <% } %>
        <% } %>
    </div>
    <div class="col-8">
      <% if (view === 'table') { %>
      <mat-table [dataSource]="data" class="mat-elevation-z8">
        <div *ngFor="let column of displayedColumns">
          <ng-container matColumnDef={{column}}>
            <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
          </ng-container>
        </div>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <% } %>
      <% if (view === 'mat-card') { %>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Title</mat-card-title>
          <mat-card-subtitle>subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="data">
            <div *ngFor="let col of [<%=getTableColumns(columns)%>]">
              <p>
                {{col}} : {{data[0][col]}}
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <% } %>
      <% if (view === 'plotly') { %>
        <plotly-plot [data]="graph.data" [layout]="graph.layout" [useResizeHandler]="true" [style]="{position: 'relative', width: '100%', height: '100%'}">
        </plotly-plot>
      <% } %>
    </div>
  </div>
</div>
